<div>
    <div class="modal fade" id="threeDSecureModal" tabindex="-1" role="dialog" aria-labelledby="threeDSecureModalLabel" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="3DiframeDiv" class="row col-lg">
                        <iframe name="3Diframe" width="100%" height="100%">
                        </iframe>
                        <form id="3dSecureIframeForm" action="/%24%7BacsUrl%7D" method="post" target="3Diframe">
                            <input type="hidden" name="creq" value="${creq}"/>
                            <input type="hidden" name="threeDSSessionData" value="${threeDSSessionData}"/>
                            <input type="hidden" name="acsTransID" value="${threeDSSessionData}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>