<div>
    <div class="modal fade" id="failureModal" tabindex="-1" role="dialog" aria-labelledby="failureModalLabel" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div id="failureMessage" class="modal-body">
                    Your Payment has been made sucessfully. Please note down the transaction ID 
                </div>
            </div>
        </div>
    </div>
</div>