<div>
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog model-dialog-centered" role="document">
            <div class="modal-content">
                <div id="successMessage" class="modal-body">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>