<?xml version="1.0" encoding="utf-8"?>
<Content Key="b31c6226-3c28-4c61-9528-2098ba404050" Alias="Opayo" Level="3">
  <Info>
    <Parent Key="ac70c8ae-a240-4e87-9ff5-5a64466b5bfb">Payments</Parent>
    <Path>/Settings/Payments/Opayo</Path>
    <Trashed>false</Trashed>
    <ContentType>opayoSettings</ContentType>
    <CreateDate>2022-01-20T12:51:32</CreateDate>
    <NodeName Default="Opayo" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productionIntegrationKey>
      <Value><![CDATA[hJYxsw7HLbj40cB8udES8CDRFLhuJ8G54O6rDpUXvE6hYDrria]]></Value>
    </productionIntegrationKey>
    <productionIntegrationPassword>
      <Value><![CDATA[o2iHSrFybYMZpmWOQMuhsXP52V4fBtpuSDshrKDSWsBY1OiN6hwd9Kb12z4j5Us5u]]></Value>
    </productionIntegrationPassword>
    <productionVendorName>
      <Value><![CDATA[sandbox]]></Value>
    </productionVendorName>
    <sandboxIntegrationKey>
      <Value><![CDATA[hJYxsw7HLbj40cB8udES8CDRFLhuJ8G54O6rDpUXvE6hYDrria]]></Value>
    </sandboxIntegrationKey>
    <sandboxIntegrationPassword>
      <Value><![CDATA[o2iHSrFybYMZpmWOQMuhsXP52V4fBtpuSDshrKDSWsBY1OiN6hwd9Kb12z4j5Us5u]]></Value>
    </sandboxIntegrationPassword>
    <sandboxVendorName>
      <Value><![CDATA[sandbox]]></Value>
    </sandboxVendorName>
  </Properties>
</Content>